nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw;
    box-sizing: border-box;
    background: linear-gradient(#fff, #e9d3f3);
}

nav .logo img {
    width: 50px;
    height: 50px;
}

nav .menu {
    padding: 0;
}

nav .menu ul {
    display: flex;
    list-style: none;
    gap: 5vw;
}

nav .menu ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 600;
    padding: 1vh 10px;
    border-radius: 10px;
}

nav .menu ul li a:hover {
    color: #fff;
    background-color: var(--text-color);
    cursor: pointer;
    transition: ease-in .3s;
}