.signup-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#e9d3f3, #fff);
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 500px;
    width: 40vw;
    padding: 50px 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 2px solid var(--text-color);
    box-sizing: border-box;
    background: linear-gradient(#e9d3f3, #fff);
    box-sizing: border-box;
}

.signup input {
    width: 450px;
    padding: 1vh 15px;
    border-radius: 60px;

    font-size: 1rem;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--bg-color);
}

.signup .name {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.signup .name input {
    width: 200px;
}

.signup .signup-btn {
    width: 150px;
    font-size: 1.2rem;
    padding: 1vh 1.2vw;
    border-radius: 60px;
    box-sizing: border-box;
    border: 3px solid var(--text-color);
    color: var(--bg-color);
    background-color: var(--text-color);
}

.signup .signup-btn a {
    text-decoration: none;
}

.signup .signup-btn:hover {
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--text-color);
}